extends layout
include _includes/sharedHTMLfunctions.pug

block content
  each dessert in desserts
    .row
      .col-12.col-md-8
        .card
          .card-block
            h2= dessert.name
            img.dessert-image(src=dessert.image, alt=dessert.name)

            .rating-section
              h4 
                strong Rating: #{dessert.ratingText} (#{dessert.reviewCount} reviews)
              div 
                +outputRating(dessert.rating)

            h3 Ingredients
            ul
              each item in dessert.ingredients
                li
                  strong= item.name + ':'
                  |  #{item.description}

            h3 Preparation Steps
            ol
              each step in dessert.steps
                li= step

      .col-12.col-md-4
        h2 Description
        p.lead= dessert.description